.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.modalActive {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s;
    pointer-events: all;
    opacity: 1;
    z-index: 2;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    width: 450px;
    min-height: 400px;
    font-family: 'Lato', sans-serif;
    background-color: #121212;
    color: white;
    border: .1px solid #2e2d2d;

    &__resultText {
        font-size: 25px;
    }
}


@media screen and (min-width: 320px) and (max-width: 479px) {
    .modalContent {
        width: 360px;
    }
}

.statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__headline {
        padding: 10px 0;
        font-size: 20px;
    }

    &__data {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    &__dataItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 86px;
        text-align: center;

        div {
            font-size: 35px;
        }
    }
}

