.row {
    width: 500px;
    height: 55px;
    margin-bottom: 4px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
}